.boardBox {
  padding: 0 120px;
}

.todoList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.todo {
  width: 380px;
  background: linear-gradient(rgba(229, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
  border-radius: 16px;
  height: 460px;
}

.inprogress {
  width: 380px;
  background: linear-gradient(
    rgba(247, 221, 53, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 16px;
  height: 460px;
}

.done {
  width: 380px;
  background: linear-gradient(rgba(54, 118, 51, 0.5), rgba(255, 255, 255, 0.5));
  border-radius: 16px;
  height: 460px;
}
