.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  position: relative;
  cursor: grab;
}

.inputBox {
  margin-bottom: 8px;
}

.title {
  width: 280px;
  outline: none;
  border: 1px solid #367633;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;
}

.head {
  width: 280px;
  font-size: 16px;
  font-weight: 500;
  overflow-wrap: break-word;
  text-shadow: 1px 1px 3px #ffffff;
}

.descr {
  font-size: 12px;
  width: 320px;
  overflow-wrap: break-word;
  margin-bottom: 8px;
}

.text {
  width: 320px;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #367633;
  outline: none;
  resize: vertical;
  height: 88px;
}

.btnBox {
  display: flex;
  gap: 24px;
}

.taskBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error {
  color: #f00;
  font-size: 12px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.saveEditBtn,
.cancelDelBtn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms ease-in-out;
}

.saveEditIcon {
  transition: fill 300ms ease-in-out;
}

.saveEditBtn:hover {
  background-color: #367633;
}

.cancelDelBtn:hover {
  background-color: #e50000;
}

.saveEditBtn:hover .saveEditIcon .cancelDelBtn:hover .cancelDelIcon {
  fill: #fff;
}
