.container {
  background: linear-gradient(rgba(54, 118, 51, 1), rgba(52, 102, 50, 1));
  border-bottom: 4px solid #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  padding: 0 120px;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  color: #ffffff;
  transition: color 300ms ease-in-out, transform 300ms ease-in-out;
  padding: 24px 0;
}

.link:hover {
  color: #f7dd35;
  transform: scale(1.1);
}

.isActive {
  color: #f7dd35;
}

.logo {
  color: #f7dd35;
  width: 102px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px 3px #ffffff;
}
