.notFound {
  background-image: url("../../assets/bckhome.jpg");
  background-color: #f7dd35;
  background-size: cover;
  background-position: center;
  padding-bottom: 192px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-shadow: 2px 1px 3px #ffffff;
  color: #000;
}
